
.footer{
    text-align: center;
    background-color: #0B0A2E;

}

.footer h2{
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-pequena);   
   
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 500px;
    
}

.redes h2{
   color: #00BA89;
}

.redes-sociais i{
    font-size: var(--fonte-medio);
    background-color: var(--cor-font-nav);
    color: var(--cor-fundo-azul);
    padding: 10px;
    border-radius: 50%;
    margin: 10px 45px;
    
}

.redes-sociais i:hover{
    background-color: rgba(196, 196, 196, 0.50);
    color: var(--cor-circulos);
}

@media (max-width: 900px) {

    .footer{
        text-align: center;    
        max-width: 100%;   
    
    }

    .redes{
        display: flex;
        gap: 40px;
    }

    .redes-sociais{
        justify-items: center;

    }

    .redes-sociais i{
        font-size: 33px;
        background-color: var(--cor-font-nav);
        color: var(--cor-fundo-azul);
        border-radius: 50px;
        width: 45px;
        height: 45px;
        line-height: 45px;
        padding: 0;
        margin: 5px;
       
    }
    
}

@media (max-width: 420px) {

    .footer{
        text-align: center;    
        max-width: 100%;   
    
    }

    .footer h2{
        font-size: 15px;
        margin: 10px;
    }

    .redes{
        display: flex;
        padding: 10px;
        gap: 10px;
    }

    .redes-sociais{
        justify-items: center;

    }

    .redes-sociais i{
        font-size: 25px;
        background-color: var(--cor-font-nav);
        color: var(--cor-fundo-azul);
        border-radius: 50px;
        width: 30px;
        height: 30px;
        line-height: 31px;
        padding: 0;
        margin: 2px;
       
    }
    
}

@media (max-width: 370px) {
    .footer{
        text-align: center;    
        max-width: 100%;   
    
    }

    .footer h2{
        font-size: 15px;
        margin: 5px;
    }

    .redes{
        display: flex;
        padding: 2px;
    }

    .redes-sociais{
        justify-items: center;

    }

    .redes-sociais i{
        font-size: 17px;
        font-weight: 800;
        background-color: var(--cor-font-nav);
        color: var(--cor-fundo-azul);
        border-radius: 50px;
        width: 25px;
        height: 25px;
        line-height: 26px;
        padding: 0;
        margin: 2px;
       
    }
}
