
.project {
    padding: 70px 0px 0px;
}

.img-objetos4{
    position: absolute;
    width: 1320px;
    height: 615.32px;
    left: 250px;
    top: 2100px;
    z-index: -1;
}


.projetos .paineis{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    position: relative;
}

.projetos .paineis .imagem-painel{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(70%);
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.projetos .paineis .projeto1{
    background-image: url('../img/ApiBuscandoUsuario.jpg');
}

.projetos .paineis .projeto2{
    background-image: url('../img/cardPokemon.jpg');
}

.projetos .paineis .projeto3{
    background-image: url('../img/MarioBros.jpg');
}

.projetos .paineis .projeto4{
    background-image: url('../img/mini-portfolio.jpg');
}

.projetos .paineis .projeto5{
    background-image: url('../img/pokeAPI.jpg');
}

.projetos .paineis .projeto6{
    background-image: url('../img/TheLast.jpg');
}

.projetos .paineis .projeto7{
    background-image: url('../img/listagem-de-pokemon.jpg');
}

.projetos .paineis .imagem-painel.mostrar{
    opacity: 4;

}


.projetos .paineis .titulo{
    color: var(--cor-branca);
    text-transform: uppercase;
    font-size: calc(1em + 1vw);
}

.projetos .paineis .seta{
    background-image: url(../img/seta.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    text-indent: 100%;
    overflow: hidden;
    cursor: pointer;
}

.projetos .paineis .seta.btn-voltar{
    left: 20px;
    transform: rotateY(180deg);
}


.projetos .paineis .seta.btn-avancar{
    right: 20px;
}


.github-link {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}

.github-link{
    padding: 20px;
}

.github-link a {
    text-decoration: none;
    display: block;
    color: #00BA89;
    font-size: var(--fonte-normal);
    padding: 10px 20px;
    transition:  0.3s ease-in-out;
    border-radius: 15px;
}

.github-link a:hover{
    background-color: var(--cor-objetos);
    color: var(--cor-branca)
    
}


 @media (max-width: 900px) {
    
    .projetos{
        background-image: url(../img/objetos-responsivo-1.png);
        background-repeat: no-repeat;
        background-size: 600px;
        background-position: 50%;

    }

    .projetos .paineis{
        height: 250px;
    }

    .img-objetos4{
        position: absolute;
        left: 110px;
        width: 0;
        height: 0;
    }


}

@media (max-width: 420px){


    .projetos .paineis .titulo{
        color: var(--cor-branca);
        text-transform: uppercase;
        font-size: 15px;
    }
    .github-link a {
        background-color: var(--cor-objetos);
        color: var(--cor-branca);
        font-size: 15px;
        padding: 10px 20px;
        border-radius: 15px;
    }

    .github-link{
        padding: 10px;
        
    } 
    

}

@media (max-width: 370px){


    .github-link a {
        background-color: var(--cor-objetos);
        color: var(--cor-branca);
        font-size: 15px;
        padding: 10px 20px;
        border-radius: 15px;
    }    

    .github-link{
        padding: 10px;
    } 
    

}

