
.sobre-mim .row{
    align-items: center;
}
.sobre-mim .imagem-sobre-mim{
    max-width: 40%;
    padding: 0 15px;
}

.sobre-mim .imagem-sobre-mim .img-box{
    padding: 15px;
}

.sobre-mim .informacoes-sobre-mim{
    max-width: 50%;
    padding: 0 25px;

}

.sobre-mim .informacoes-sobre-mim p{
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
}


.img-box img{
    background: var(--cor-objetos);
    width: 419px;
    height: 419px;
    border: 3px solid var(--cor-font-nav);
    border-radius: 100%;
    cursor: pointer;
    
}

.img-box{
    transition: ease 1s;
    
}

.img-box:hover {
    transform: scale(1.05);
}

.img-objetos2{
    position: absolute;
    width: 1320px;
    height: 615.32px;
    left: 250px;
    top: 730px;
    z-index: -1;
}

.objetos-quadrado2 .quadrado2{
    width: 85px;
    height: 85px;
    background-color: var(--cor-objetos);  
}

.objetos-quadrado2{
    position: absolute;
    width: 85px;
    height: 85px;
    left: 1500px;
    top: 1330px;
} 

.objetos-retangulo2 .enfeite2{
    width: 45px;
    height: 313px;
    background-color: var(--cor-objetos);  
}

.objetos-retangulo2{
    position: absolute;
    left: 0px;
    top: 960px;
}

.botao{
    font-size: var(--fonte-normal);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: var(--cor-objetos);
}

.botao:hover{
    background-color: var(--cor-font-nav);
    color: var(--cor-fundo-azul);
}

.sobre-mim  .botoes{
    margin-top: 50px;
    text-align: center;
}

@media(max-width: 900px) {
    
    .section{
        background-image: url(../img/objetos-responsivo-1.png);
        background-repeat: no-repeat;
        background-size: 600px;
        background-position: 50%;
        max-width: 100%;
    }

    .img-objetos2{
        position: absolute;
        left: 110px;
        width: 0;
        height: 0;
    }

    .sobre-mim .row{
        justify-content: center;
    }

    .sobre-mim .imagem-sobre-mim{
        max-width: 100%;
        padding: 0 var(--mobile-padding);
        margin-bottom: 50px;
    }

    .sobre-mim .informacoes-sobre-mim{
        padding: 0 var(--mobile-padding);
        text-align: center;
        text-align: justify;
        max-width: 100%;

    }

    .objetos-quadrado2 .quadrado2{
        position: absolute;
        left: -1300px;
        width: 0px;
        height: 0px; 
    }

    .objetos-retangulo2 .enfeite2{
        width: 0;
        height: 0;
    }

    .botao{
        font-size: 18px;

    }

} 

@media(max-width: 420px){

    .img-box img{
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 370px){

    .section-title h2{
        font-size: 35px;
    }
    .img-box img{
        width: 200px;
        height: 200px;
    }

    .botao{
        font-size: 15px;

    }
}

