
.section{
    background-image: url(../img/objetos.png);
    background-size: 1320px 615px;
    background-repeat: no-repeat;
    background-position: 99%;

}


.ajustador-2 {
    padding: 150px 0 0 0;
    display: flex;
    gap: 67px;
    margin: 0 auto;
    justify-content: center;
}

h2 {
    text-align: center;
    font-family: var(--fonte-segundaria);
    font-size: 45px;
    font-weight: 400;
    color: var(--cor-font-nav);    
}



.avatar img{
    background: var(--cor-objetos);
    width: 519px;
    height: 519px;
    border: 3px solid var(--cor-font-nav);
    border-radius: 100%;
    cursor: pointer;
    
}
.avatar{
    transition: ease 1s;
    
}


.avatar:hover {
    transform: scale(1.05);
}


.sobre-mim{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre-mim p {
    font-weight: 500;
    text-indent: 30px;
    font-size: 20px;
    max-width: 609.25px;
    color: var(--cor-branca);
}

.objetos-quadrado2 .quadrado2{
    width: 85px;
    height: 85px;
    background-color: var(--cor-objetos);  
}

.objetos-quadrado2{
    position: absolute;
    width: 85px;
    height: 85px;
    left: 1500px;
    top: 1330px;
} 

.objetos-retangulo2 .enfeite2{
    width: 45px;
    height: 313px;
    background-color: var(--cor-objetos);  
}

.objetos-retangulo2{
    position: absolute;
    left: 0px;
    top: 960px;
}

.botao{
    font-size: var(--fonte-normal);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: var(--cor-objetos);
}

.botao:hover{
    background-color: var(--cor-font-nav);
    color: var(--cor-fundo-azul);
}

.sobre-mim  .botoes{
    margin-top: 50px;
    text-align: center;
}

@media(max-width: 900px) {
    
    .section{
        background-image: url(../img/objetos-responsivo-1.png);
        background-repeat: no-repeat;
        background-size: 600px;
        background-position: 50%;
        max-width: 100%;

       
    }

    .ajustador-2 {
        padding: 20px 0 0 0;
        align-items: center;
        max-width: 100%;
        gap: 15px;
        

    }

    .avatar{
        padding: 0 0 0 50px;
        
    }
    .avatar img{  
        height: 100%;
    }

   
    .ajustador-2 h2 {
        font-size: 30px;
        text-align: center;
    }

    .sobre-mim p {
        font-size: 15px;
    }
    
    .sobre-mim .informacoes{
        padding: 0 var(--mobile-padding);
        text-align: center;
        text-align: justify;
    } 

    .objetos-quadrado2 .quadrado2{
        position: absolute;
        left: -1300px;
        width: 0px;
        height: 0px; 
    }

    .objetos-retangulo2 .enfeite2{
        width: 0;
        height: 0;
    }

    .botao{
        font-size: 16px;

    }

} 

